/.env.local
/.env.*.local
/public/sitemap.xml
/public/bundles/
/var/
/vendor/
/lib/
/node_modules/
supervisord.log
supervisord.pid

.idea/

ansible/playbook.retry
ansible/deploy.retry
/phpunit.xml
npm-debug.log
docker-dev.lock
bin/.phpunit
