
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/build/*
!/public/build/entrypoints.json
!/public/build/manifest.json
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

/lib/

supervisord.log
supervisord.pid

.idea/

ansible/playbook.retry
ansible/deploy.retry
/phpunit.xml
npm-debug.log
docker-dev.lock