@import url('https://fonts.googleapis.com/css?family=Lato');

@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.menu {
  @apply absolute pin w-24 h-24 pl-3 pt-2 pb-2 pr-2 rounded shadow border text-sm bg-white;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue text-white;
}

.btn-red {
  @apply bg-red text-white;
}

.btn-green {
  @apply bg-green text-white;
}

.btn-blue:hover {
  @apply bg-blue-dark;
}

.form-input {
  @apply h-12 bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight;
}

.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

.CodeMirror {
  z-index: 0 !important;
}

.label {
  @apply rounded-full bg-blue-dark text-white uppercase px-2 py-1 text-xs font-bold ml-3;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  @apply bg-grey;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}