@import url('https://fonts.googleapis.com/css?family=Lato');

@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.menu {
  @apply absolute pin w-24 h-24 pl-3 pt-2 pb-2 pr-2 rounded shadow border text-sm bg-white;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue text-white;
}

.btn-red {
  @apply bg-red text-white;
}

.btn-green {
  @apply bg-green text-white;
}

.btn-blue:hover {
  @apply bg-blue-dark;
}

.transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}