---
- hosts: digitalocean

  vars_files:
    - ./vars/deploy_vault.yml
    - ./vars/vars.yml
    - ./vars/deploy_vars.yml

  roles:
    - carlosbuenosvinos.ansistrano-deploy

  vars:
    ansistrano_deploy_to: "{{ project_root_dir }}"
    ansistrano_deploy_via: git
    ansistrano_git_repo: "https://github.com/liweiyi88/julianli.git"
    ansistrano_git_branch: master
    ansistrano_keep_releases: 4
    ansistrano_shared_files: [".env"]
    ansistrano_shared_paths: ["public/img/uploads/blog", "public/img/uploads/project"]
    ansistrano_after_symlink_shared_tasks_file: "{{ playbook_dir }}/deploy/after-symlink-shared.yml"
    ansistrano_after_symlink_tasks_file: "{{ playbook_dir }}/deploy/after-symlink-tasks.yml"
    ansistrano_allow_anonymous_stats: false
    release_console_path: "{{ ansistrano_release_path.stdout }}/bin/console"
    release_var_path: "{{ ansistrano_release_path.stdout }}/var"
